<!--asta este un template pe care il folosim in celalalte template-uri din views pentru a nu scrie de fiecare data acelasi cod, ci doar le includem-->

<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="app.js"></link>
    </head>
    <body>
        